<br />
<br />
<br />

<body class="click-main">
  <div>
    <div style="text-align: center">
      <!-- <a><img src="../../assets/animation_300.svg"> </a> -->
      <svg
        width="184"
        height="184"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 130.2 130.2"
      >
        <circle
          class="path circle"
          fill="none"
          stroke="#0077C8"
          stroke-width="6"
          stroke-miterlimit="10"
          cx="65.1"
          cy="65.1"
          r="62.1"
        />
        <polyline
          class="path check"
          fill="none"
          stroke="#0077C8"
          stroke-width="6"
          stroke-linecap="round"
          stroke-miterlimit="10"
          points="100.2,40.2 51.5,88.8 29.8,67.5 "
        />
      </svg>

      <br /><br />
      <a><img src="../../assets/You’re all set..svg" /> </a>
      <br /><br />
      <br />
      <a><button
          class="btn btn-primary btn-lg" type="button" (click)="sendTrue(true)">
          Click Here to Continue
        </button></a>
    </div>
  </div>
</body>