<br />
<br />
<br />
<br/>

      <div class="row content" style="--bs-gutter-x: 3.0rem;">
        <div class="col-sm-12" style="background-color: #d0e5f62b">
          <div class="container-fluid">
            <div class="row" >
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="infobox-5">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <h5 class="material-icons col-green position-sticky">
                          <strong>Dashboard</strong>
                        </h5>
                      </div>
                      <div class="float-right"></div>
                    </div>
                    <p class="text-muted mt-3 mb-0 position-sticky">Agent</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
                <div class="infobox-5">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left card-icon">
                        <h6
                          class="material-icons col-green position-sticky"
                          style="color: #36854a; font-size: 15px; padding-left: 25px;">
                          Start Date
                        </h6>
                      </div>
                    </div>
                    <img src="../../assets/calendar.svg">
                    <input  type="date" style=" border: none; padding: 10px; border-top: 3px solid#36854a;"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
                <div class="infobox-5">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left card-icon">
                        <h6 class="material-icons col-green position-sticky" style="color: #fa6105;font-size: 15px; padding-left: 25px;">
                          End Date
                        </h6>
                      </div>
                    </div>
                    <div style="display: flex; flex-direction: row">
                      <img src="../../assets/calendar.svg">
                      <input type="date" style=" border: none; padding: 10px; border-top: 3px solid #fa6105; 
                        "/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-2 col-md-2 col-sm-4 ">
                <!-- <div class="infobox-5">
                  <div class="card-body"></div>
                </div> -->
                <div>
                 <div>
                  <img src="../../assets/Vector.png">
                 </div>
                  <div  class="feature-area">                                     
                    <p class="card-text">Manage your analysis dashboard with the help of date range</p>
                  </div>
                </div>               
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
                <div class="infobox-5">
                  <div>
                    <button type="button" class="bt-feedback-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"> Agent Feedback</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>    
          <br /><br />

          <div class="card" style="padding-top: 15px">
            <div class="row">
              <div class="col-md-12 position-sticky">
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img src="../../assets/call.svg" /> &nbsp; &nbsp; &nbsp;
                      &nbsp; Total Number of Call&nbsp; &nbsp;
                      <a
                        ><span><strong class="col-font"> 50</strong></span></a
                      >&nbsp; &nbsp;
                      <a>
                        <img src="../../assets/graph.svg" />
                      </a>
                    </div>
                    <div class="col">
                      <img src="../../assets/group.svg" /> &nbsp; &nbsp; Daily
                      Transfer Rate&nbsp; &nbsp; &nbsp; &nbsp;
                      <a
                        ><span><strong class="col-font">120 Sec</strong></span></a
                      >&nbsp; &nbsp; &nbsp; &nbsp;
                      <a>
                        <img src="../../assets/graph.svg" />
                      </a>
                    </div>
                    <div class="col">
                      <img src="../../assets/call-outgoing.svg" />&nbsp; &nbsp;
                      &nbsp; &nbsp; Call Duration&nbsp; &nbsp; &nbsp; &nbsp;
                      <a
                        ><span
                          ><strong class="col-font">
                            39 &nbsp; &nbsp; &nbsp; &nbsp; Sec</strong></span
                        ></a
                      >&nbsp; &nbsp; &nbsp; &nbsp;
                    </div>
                  </div>
                </div>
                <div class="register">
                  <div class="form" style="margin-top: 20px">
                    <hr />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 position-sticky">
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <img src="../../assets/user.svg" />&nbsp;&nbsp;&nbsp;&nbsp;
                      Total FCR&nbsp;&nbsp;&nbsp;&nbsp;
                      <a
                        ><span><strong class="col-font">90 %</strong></span></a
                      >&nbsp;&nbsp;&nbsp;&nbsp;
                      <a>
                        <img src="../../assets/cheed.svg" />
                      </a>
                    </div>
                    &nbsp;&nbsp;
                    <div class="col">
                      <img
                        src="../../assets/info-circle.svg"
                      />&nbsp;&nbsp;&nbsp;&nbsp; Issues &nbsp;&nbsp;&nbsp;&nbsp;
                      <a style="color: red">Saved</a> &nbsp;&nbsp;&nbsp;&nbsp;
                      <a
                        ><span><strong class="col-font"> 40</strong></span></a
                      >&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                    <div class="col">
                      <img src="../../assets/profile-tick.svg" />&nbsp; &nbsp;
                      &nbsp; &nbsp; Customer Satisfication&nbsp; &nbsp; &nbsp;
                      &nbsp;
                      <a
                        ><span><strong class="col-font">80 %</strong></span></a
                      >&nbsp; &nbsp; &nbsp; &nbsp;
                    </div>
                  </div>
                </div>
                <div class="register">
                  <div class="form" style="margin-top: 20px"></div>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 15px"></div>
          <div>
            <div class="text-center">
              <div class="row">
                <div class="col-lg-9">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col position-sticky">
                        <h4>
                          <span
                            ><strong style="margin-right: 60%">
                              Calls Activity</strong
                            ></span
                          >
                        </h4>
                      </div>
                      <div class="col">
                      </div>
                    </div>
                  </div>
    
                  <div class="card">
                    <div class="card-body">
                      <div class="container text-center">
                        <div class="row">
                          <div class="col-12">
                            <div class="nav flex-row nav-pills me-3"
                              id="v-pills-tab" role="tablist"
                              aria-orientation="horizontal">
                              <button  class="btn btn-outline-primary"
                                id="v-pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-home"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-home"
                                aria-selected="true">Total Calls
                              </button> &nbsp;&nbsp; 
                              <button class="btn btn-outline-primary"
                                id="v-pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-profile"
                                aria-selected="false">
                                Call Transfer Rate
                              </button>&nbsp;&nbsp; 
                              <button class="btn btn-outline-primary"
                                id="v-pills-messages-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-messages"
                                aria-selected="false" >
                                Total FCR
                              </button>&nbsp;&nbsp; 
                              <button class="btn btn-outline-primary"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false" >
                                Call Durations
                              </button>&nbsp;&nbsp;
                              <button  class="btn btn-outline-primary"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false" >
                                Issues
                              </button>
                            </div>
                            <div class="dropdown">
                              <button
                                class="btn btn-outline-primary dropdown-toggle chart-dropdown"                              
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Last 7 Days
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a class="dropdown-item" href="#">Last 15 Days</a>
                                </li>
                                <li>
                                  <a class="dropdown-item" href="#">Last 1 Month</a>
                                </li>
                                <li>
                                  <a class="dropdown-item" href="#">Last 3 Month</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
    
                        <div class="d-flex align-items-start">
                          <div class="row">
                            <div class="col-12">
                              <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home"
                                  role="tabpanel" aria-labelledby="v-pills-home-tab"  >
                                <canvas id="myChart" ></canvas>   
                                </div>
                                <div  class="tab-pane fade"  id="v-pills-profile"
                                  role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <canvas id="lineCanvas" ></canvas>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages"
                                  role="tabpanel"  aria-labelledby="v-pills-messages-tab">
                                <canvas id="lineCanvasFCR">
                                </canvas>                            
                                </div>
                                     <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                       aria-labelledby="v-pills-settings-tab">
                                                   <canvas id="myChartcall" ></canvas>  
                                         </div>
                                       <div
                                  class="tab-pane fade"
                                  id="v-pills-settings"
                                  role="tabpanel"
                                  aria-labelledby="v-pills-settings-tab" >
                                  chart 5
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
    
    
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 position-sticky">
                  <h4>
                    <span><strong>Word Cloud</strong></span>
                  </h4>
                  <div class="card">
                    <div class="card-body">
                      <a>Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--------------Modal---------------->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="
          width: 600px;">           
            <div class=" text-center">
              <div class="row popup-modal">
                <div class="col-sm-5">
                  <div class="modal-header" style="border-bottom:none">                    
                    <form>
                      <h4  style="position: Nunito Sans;"><span><strong>Agent Feedback</strong></span></h4> 
                      <div style="float: left">
                        <label class="control-textname popup-label-name">To</label><br>
                        <input type="text"  class="control-text-popup" style="top: 130px;"> 
                        <label class="control-textname popup-label-name" style=" top: 145px;">Subject</label>
                        <input type="text"  class="control-text-popup" style="top: 195px;"> 
                        <div class="dropdown">
                          <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 18px;border: none;color: #000000;padding-right: 128px;border-bottom: groove;">
                            Choose Priority
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                        <label class="control-textname popup-label-name" style="top: 233px;">Summary</label>
                        <textarea class="control-text-popup  popup-label-name" style="top: 250px;"  rows="4"></textarea>
                      </div>  
                      <div class="d-grid  d-md-block">
                        <button class="btn btn-primary" type="button" style=" width: 264px;">Submit</button>                       
                      </div>
                    </form>
                  </div>
                </div>
                
                <div class="col-sm-5" style="padding-left: 78px;">
                 <img src="../../assets/ImgModal.jpg" style="border-radius: 7px;">
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>